.text {
    align-items: left;
    margin-left: 188px;
}

.text h1 {
    font-family: Poppins;
    font-size: 48px;
    font-weight: 800;
    line-height: 72px;
    text-align: left;
    height: 72px;
    margin-top: 80px;
    width: 315px;
}

.text p {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    width: 975px;
    height: 72px;
    top: 220px;
    gap: 0px;
    opacity: 0px;
    color: grey;

}

.form {
    margin-left: 198px;
    margin-top: 40px;
    width: Hug (1, 161px)px;
    height: Fixed (600px)px;
}

.fill {
    width: Hug (472px)px;
    height: Hug (457px)px;
    gap: 23px;
    opacity: 0px;
}

.btn {
    display: flex;
    gap: 32px;
    max-width: 472px;
    max-height: 44px;
}

.btn button {
    background-color: black;
    color: white;
    height: 40px;
    width: 220px;
}

.btn-3 button {
    width: 472px;
    height: 44px;
    background-color: white;
    margin-top: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 440px;
    max-height: 300px;
    gap: 17px;
    margin-top: 20px;
    margin-left: 40px;
}

.textBox {
    width: 440px;
    height: 70px;
}

.btn-4  button{
    margin-left: 270px;
    margin-top: 20px;
    width: 200px;
    height: 40px;
    background-color: black;
    color: white;
}

.image {
    margin-left: 600px;
    margin-top: -500px; 
}

.image img {
    width: 492px;
    height: 500px;  
}